@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.light-mode{
    background-color: white;
    color: black;
}

.dark-mode,.buttons{
    background-color: black;
    color: white;
}